<div class="store-products">
  <ul>
    <% store.store_products.each do |store_product| %>
      <li class="store-product"><%= link_to "#{store_product.product.name}
        (#{store_product.product.brand})", product_path(store_product.product_id) %></li>
        <ul class="store-product-details <%= 'available' if store_product.availability%>">
          <li>
            <% if store_product.price %>
              Price: <%= format_price(store_product.price) %>
            <% else %>
              Price information not available at this store.
            <% end %>
              <%= "(Average at #{pluralize(store_product.product.stores.count, 'store')}:
              #{format_price(store_product.product.average_price)})" %>
          </li>
          <li>
            <span class="available-text">
              Available as of <%= store_product.updated_at.to_date %>
            </span>
            <span class="unavailable-text">
              Unavailable as of <%= store_product.updated_at.to_date %>
            </span>
          </li>


          <li class="buttons">
            Is this product currently available?
            <%= button_to('Yes',
              store_store_product_path(store, store_product),
              method: :put,
              remote: true,
              form_class: "toggle-availability make-available")
              %>

            <%= button_to('No',
              store_store_product_path(store, store_product),
              method: :put,
              remote: true,
              form_class: "toggle-availability make-unavailable")
              %>
          </li>
          <% if user_signed_in? %>
            <div class="add-to-list-btn">
              <%= add_to_list(store_product.product) %>
            </div>
          <% end %>

        </ul>
    <% end %>
  </ul>
</div>

<script>
  $(function() {
    $(".toggle-availability").on("ajax:success", function(event, data, status, xhr){
      var form = $(this);
      form.closest(".store-product-details").toggleClass("available");
    });
  })
</script>