<h1><%= @store.name %></h1>

<div class="store-info">
  <%= @store.address %>
</div>
<p>Average review: <%= "#{@store.average_rating} (#{pluralize(@store.reviews.count, 'review')})" %></p>

<%= link_to "Review this store", new_store_store_review_path(@store), class: "btn btn-add-store-review" %>

<%= link_to "Add a product", new_store_store_product_path(@store), class: "btn btn-add-store-product" %>

<div id="page-content">
  <div class="page-view-tabs-container">
    <a href="#store-reviews-list">Reviews</a>
    <a href="#store-products-list">Products</a>
    <a href="#nonexistant">Directions</a>
  </div>

  <div id="store-products-list" class="page-item">
    <%= render partial: 'product_list', locals: { store: @store } %>
  </div>

  <div id="store-reviews-list" class="page-item">
    <%= render partial: "/shared/reviews", locals: { element: @store } %>
  </div>

  <script>
    $(function() {
      $(".page-view-tabs-container > a").click(function() {
        $(".page-view-tabs-container > a").removeClass("active");
        $(this).addClass("active");
        var href = $(this).attr("href");
        $(".page-item").hide();
        $(href).show();
      })
      $(".page-view-tabs-container > a:first").click();
    })
  </script>
</div>