<h1><%= @store.name %></h1>

<div class="store-info">
  <%= @store.address %>
</div>
<p>Average review: <%= "#{@store.average_rating} (#{pluralize(@store.reviews.count, 'review')})" %></p>

<%= link_to "Review this store", new_store_store_review_path(@store), class: "btn btn-add-store-review" %>

<%= link_to "Add a product", new_store_store_product_path(@store), class: "btn btn-add-store-product" %>

<div class="store-product-list">
  <%= render partial: 'product_list', locals: { store: @store } %>
</div>

<div class="store-reviews-list">
  <%= render partial: "/shared/reviews", locals: { element: @store } %>
</div>