<h1><%= @store.name %></h1>

<div class="store-info">
  <%= @store.address %>
</div>
Average review: <%= "#{@store.average_rating} (#{pluralize(@store.reviews.count, 'review')})" %>

<%= link_to "Review this store", new_store_store_review_path(@store) %>

<%= link_to "Add a product", new_store_store_product_path(@store), class: "btn btn-add-store-product" %>

<%= render partial: 'product_list', locals: { store: @store } %>

<%= render partial: "/shared/reviews", locals: { element: @store } %>