<h1><%= @user.name %></h1>
<div class="user-product-reviews">
  <h3><%= "#{@user.name}'s product reviews" %></h3>
  <% if @user.product_reviews.length > 0 %>
    <%= render partial: "product_reviews", locals: { products: @user.product_reviews } %>
  <% else %>
      <em><%= @user.name %> has no product reviews yet<em>
    <% end %>
</div>

<div class="user-store-reviews">
  <h3><%= "#{@user.name}'s store reviews" %></h3>
  <% if @user.store_reviews.length > 0 %>
    <%= render partial: "store_reviews", locals: { stores: @user.store_reviews } %>
  <% else %>
    <em><%= @user.name %> has no store reviews yet<em>
  <% end %>
</div>
