<h1><%= @user.name %></h1>

<div id="page-content">
  <ul class="page-view-tabs-container nav nav-tabs">
    <% if current_user == @user %>
      <li><a href="#user-shopping-list">Shopping lists</a></li>
    <% end %>
    <li><a href="#user-store-reviews">Store reviews</a></li>
    <li><a href="#user-product-reviews">Product reviews</a></li>
  </ul>

  <div id="user-store-reviews" class="page-item">
    <h3><%= "#{@user.name}'s store reviews" %></h3>
    <% if @user.store_reviews.length > 0 %>
      <%= render partial: "store_reviews", locals: { stores: @user.store_reviews } %>
    <% else %>
      <em><%= @user.name %> has no store reviews yet</em>
    <% end %>
  </div>

  <div id="user-product-reviews" class="page-item">
    <h3><%= "#{@user.name}'s product reviews" %></h3>
    <% if @user.product_reviews.length > 0 %>
      <%= render partial: "product_reviews", locals: { products: @user.product_reviews } %>
    <% else %>
      <em><%= @user.name %> has no product reviews yet</em>
    <% end %>
  </div>

  <div id="user-shopping-list" class="page-item">
    <!-- allows user to select current shopping list -->
    <%= form_tag(change_current_list_users_path, method: :post, class: 'select-shopping-list-user-page', remote: true) do %>
      <%= label_tag("select_current_list", "Select list") %>
      <% option_pairs = ShoppingList.where(user_id: current_user.id).map { |sl| [sl.title, sl.id] } %>
      <%= select_tag(:shopping_list_id, options_for_select(option_pairs, selected: session[:current_list_id])) %>
    <% end %>

    <!-- shows currently selected shopping list -->
    <div id="shopping-list-display">
      <%= render partial: "shopping_list" %>
    </div>
    <%= email_shopping_list %>
  </div>

</div>