<div class="navbar">
  <div class="navbar-inner">
    <ul class="nav">
      <% if user_signed_in? %>
        <li class="active"><a href=<%= user_path(current_user) %>>home page</a></li>
        <li><%= link_to "log out", destroy_user_session_path, method: :delete %><li>
      <% else %>
        <li><%= link_to "sign in", new_user_session_path %></li>
        <li><%= link_to "sign up", new_user_registration_path %></li>
      <% end %>

      <li><%= link_to "stores", stores_path %></li>
      <li><%= link_to "products", products_path %></li>
      <% if user_signed_in? %>
        <li><%= link_to "add new product", new_product_path %></li>
        <li><%= link_to "add new store", new_store_path %></li>
      <% end %>
    </ul>
  </div>
</div>

