<h1>Products</h1>
<%= link_to "Add a new product", new_product_path %>
<ul class="products-list">
  <% @products.each do |product| %>
    <li>
      <%= link_to product.name, product_path(product) %>
        <p>Brand: <%= product.brand %></p>
        <p><%= product.description %></p>
        <div class="add-to-list-btn"><%= add_to_list(product) %></div>
    </li>
  <% end %>
</ul>