<div id="product-info-container">
  <h1><%= @product.name %></h1>
  <div class="product-brand">
    Brand: <%= @product.brand %>
  </div>
  <div class="product-description">
    <%= @product.description %>
  </div>
  <div class="average-rating">
    Average rating: <%= "#{@product.average_rating} (#{pluralize(@product.reviews.count, 'review')})" %>
  </div>
  <div class="average-price">
    Average price: <%= "#{format_price(@product.average_price)} (#{pluralize(@product.store_products.count, 'store')})" %>
  </div>
</div>

<% if user_signed_in? %>
  <div class="add-to-list-btn">
    <%= add_to_list(@product) %>
  </div>
<% end %>

<a href="#new-product-review" role="button" class="btn" data-toggle="modal">Review this product</a>
<%= link_to "Add to a store", new_product_store_product_path(@product) %>

<div id="page-content">
  <ul class="page-view-tabs-container nav nav-tabs">
    <li><a href="#product-reviews-list">Reviews</a></li>
    <li><a href="#product-stores-list">Stores</a></li>
    <% if current_user %>
    <!-- perhaps change this for not just current user - no address column in user table -->
      <li><a href="#product-near-me">Near me</a></li>
    <% end %>
  </ul>

  <div id="product-reviews-list" class="page-item">
    <% if @product.reviews.blank? %>
      <em><%= @product.name %> has no reviews yet</em>
    <% else %>
      <%= render partial: "/shared/reviews", locals: { element: @product } %>
    <% end %>
  </div>

  <div id="product-stores-list" class="page-item">
    <ul>
      <strong>Sold in <%= pluralize(@product.stores.count, 'store') %>:</strong>
        <% @product.stores.each do |store| %>
          <li>
            <%= link_to "#{store.name} (#{store.address})", store_path(store) %>
            <%= "(#{format_price(StoreProduct.where(store_id: store, product_id: @product).first.price)})" %>
          </li>
      <% end %>
    </ul>
  </div>

  <div id="product-near-me" class="page-item">
    <em>Check back for this feature soon!</em>
  </div>
</div>

<%= render partial: "product_reviews/new_product_review_modal", locals: { product: @product } %>