<div id="product-info-container">
  <h1><%= @product.name %></h1>
  <div class="product-brand">
    Brand: <%= @product.brand %>
  </div>
  <div class="product-description">
    <%= @product.description %>
  </div>
  <div class="average-rating">
    Average rating: <%= "#{@product.average_rating} (#{pluralize(@product.reviews.count, 'review')})" %>
  </div>
  <div class="average-price">
    Average price: <%= "#{format_price(@product.average_price)} (#{pluralize(@product.store_products.count, 'store')})" %>
  </div>
</div>

<!--
  Only display post actions
  (add to store, add to list, add review)
  if user signed in
-->
<% if user_signed_in? %>
  <div class="add-to-list-btn">
    <%= add_to_list(@product) %>
  </div>

  <a href="#new-product-review" role="button" class="btn btn-primary" data-toggle="modal">Review this product</a>
  <a href="#new-store-product" role="button" class="btn btn-primary" data-toggle="modal">Add to a store</a>
<% end %>

<!-- Display product info for everybody -->
<div id="page-content">
  <ul class="page-view-tabs-container nav nav-pills">
    <li><a href="#product-reviews-list">Reviews</a></li>
    <li><a href="#product-stores-list">Stores</a></li>
    <% if current_user %>
      <li><a href="#product-near-me">Near me</a></li>
    <% end %>
  </ul>

  <div id="product-reviews-list" class="page-item">
   <div id="product-review-partial">
      <% if @product.reviews.blank? %>
        <em><%= @product.name %> has no reviews yet</em>
      <% else %>
          <%= render partial: "/shared/reviews", locals: { review_subject: @product } %>
      <% end %>
    </div>
  </div>

  <div id="product-stores-list" class="page-item">
    <%= render partial: "stores_list", locals: { product: @product } %>
  </div>

  <div id="product-near-me" class="page-item">
    <em>Check back for this feature soon!</em>
  </div>
</div>

<%= render partial: "product_reviews/new_product_review_modal", locals: { product: @product } %>

<%= render partial: "store_products/new_store_product_modal", locals: { store_product: @product.store_products.build, location: "product_show" } %>

<script>
  $(function() {
    // watches for and updates reviews list
    $(".modal").on("ajax:success", "form", function(event, data) {
      $("#new-product-review").modal('hide');
      $("#product-review-partial").html(data);
    });
    // watches for and updates stores list
    $(".modal").on("ajax:success", "form", function(event, data) {
      $("#new-store-product").modal('hide');
      $("#product-stores-list").html(data);
    });
  })
</script>