<!DOCTYPE html>
<html>
<head>
  <title>GroceryPricer</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% elsif flash[:alert] %>
  <div class="alert"><%= flash[:alert] %></div>
<% end %>
<% if user_signed_in? %>
  <%= link_to "log out", destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to "sign in", new_user_session_path %>
  <%= link_to "sign up", new_user_registration_path %>
<% end %>

<div class="shopping-list-container">
  <%= render partial: "shared/list" if current_user %>
</div>
<%= yield %>

</body>
</html>
