<!DOCTYPE html>
<html>
  <head>
    <title>GroceryPricer</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render partial: "shared/navbar" %>

    <div class="container">
      <% flash.each do |name, msg| %>
        <% if msg.is_a?(String) %>
          <div class="alert alert-<%= name == :notice ? 'success' : 'error' %>">
            <a class="close" data-dismiss="alert">&#215;</a>
            <%= content_tag :div, msg, id: "flash_#{name}" %>
          </div>
        <% end %>
      <% end %>

      <div class="row">
        <div class="shopping-list-container span4">
          <% if user_signed_in? %>
          <!-- except if on user show sidebar page -->
            <%= render partial: "shared/sidebar" unless @user %>
          <% end %>
        </div>

        <div class="main span6 well">
          <%= yield %>
        </div>

        <% if user_signed_in? %>
          <%= render partial: "shared/new_product_modal", locals: { new_product: Product.new } %>
          <%= render partial: "shared/new_store_modal", locals: { new_store: Store.new } %>
        <% end %>
      </div>
    </div>

  </body>
</html>